:root
{
    --first-color: blue;
    --second-color:rgb(222, 221, 255);
    --third-color:black;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.zen-old-mincho-regular {
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
}
img{
    min-width: 0;
    width: 100%;
}

.logo{
    font-size: 40px;
    text-align: center;
    color: blueviolet;
}
.karinPhoto{
    display: flex;
    justify-content: right;
}
.icon
{
    width: 20%;
    height:20%;
}
.developer{
    color:rgb(119, 25, 150);
}
.title{
    color:blueviolet;
    text-align: center;
}
body{
    background-image: url(./ocean.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: auto;
}